<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
<bean id="ringtone" class="com.web.airtel.Ringtone"></bean>
<bean id="net" class="com.web.airtel.Net"></bean>
<bean id="alarm" class="com.web.airtel.Alarm"></bean>
<bean id="service" class="com.web.airtel.Airtel">
<property name="service" ref="net"/>
</bean>

</beans>